@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

* 
{
    margin: 0px;
    border: 0px;
    padding: 0px;;
}

.title-pokedex
{
    font-family: 'Fuzzy Bubbles', cursive;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 40px;
}

.pokedex
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

h2
{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 15;
    margin-bottom: 5px;
}

.type
{
    color: white;
    padding: 4px;
    margin-right: 8px;
    text-transform: lowercase;
    font-family: 'Roboto Mono', monospace;
}

.grass
{
    background-color: #2f7d21;
    border-radius: 19%;
    align-items: center;
}

.grass-back
{
    background-color: #b7f1ac52;
}

.poison
{
    background-color: #9059ad;
    border-radius: 19%;
}

.poison-back
{
    background-color: #ce8df173;
}

.fire
{
    background-color: #ffa955;
    
    border-radius: 19%;
}

.fire-back
{
    background-color: #f8b97a60;
}

.flying
{
    background-color: #5166a8;
    
    border-radius: 19%;
}

.flying-back
{
    background-color: #8da6f8b0;
}

.water
{
    background-color: #74b9ff;
    
    border-radius: 19%;
}

.water-back
{
    background-color: #97c8f875;
}

.bug
{
    background-color: #ccdd66;
    
    border-radius: 19%;
}

.bug-back
{
    background-color: #e4f39283;
}

.normal
{
    background-color: #c3c9d0;
    
    border-radius: 19%;
}

.normal-back
{
    background-color: #e5e8eb9f;
}

.electric
{
    background-color: #ffdd66;
    color: rgb(61, 58, 58);
    border-radius: 19%;
}

.electric-back
{
    background-color: #f8df8354;
}

.ground
{
    background-color: #e9966b;
    
    border-radius: 19%;
}

.ground-back
{
    background-color: #f0b0907c;
}

.fairy
{
    background-color: #fcb8f6;
    border-radius: 19%;
}

.fairy-back
{
    background-color: #f8c0f2a4;
}

.fighting
{
    background-color: #ed6787;
    border-radius: 19%;
}

.fighting-back
{
    background-color: #eeacbbb4;
}

.psychic
{
    background-color: #ff9fae;
    border-radius: 19%;
}

.psychic-back
{
    background-color: #f7ced4b0;
}

.rock
{
    background-color: #d4c68f;
    border-radius: 19%;
}

.rock-back
{
    background-color: #f0d77670;
}

.steel
{
    background-color: #80b0c4;
    border-radius: 19%;
}

.steel-back
{
    background-color: #80b0c460;
}

.ice
{
    background-color: #89f1e8;
    border-radius: 19%;
}

.ice-back
{
    background-color: #89f1e850;
}

.ghost
{
    background-color: #8585cd;   
    border-radius: 19%;
}

.ghost-back
{
    background-color: #9c9cec80; 
}

.dragon
{
    background-color: #00457d;
    border-radius: 19%;
}

.dragon-back
{
    background-color: #67a0cf7e;
}

.card-primario
{
    list-style: none;
    padding: 10px;
    color: #222;
    text-align: center;
    text-transform: capitalize;
    border-radius: 20px;
    position: relative;
}